# mods/object-outlines/SilksongPath.props
# 复制本文件为 SilksongPath.props, 并把 GameDir 改成本机游戏目录.
<Project>
  <PropertyGroup>
    <GameDir>C:\Program Files (x86)\Steam\steamapps\common\Hollow Knight Silksong</GameDir>
  </PropertyGroup>
</Project>
